:root {
    --ff-main: 'Rajdhani', sans-serif;
    --ff-accent: 'Cutive Mono', monospace;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: var(--ff-accent);
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2em;
    margin-top: 1.5em;
}

#buttonContainer {
    border: 2px solid whitesmoke;
    width: 4.5em;
    height: 2.5em;
    margin-bottom: 2em;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#go-btn {
    background-color: rgb(136, 136, 247);
    font-family: var(--ff-main);
    color: black;
    font-size: 1.25rem;
}

form {
    margin-bottom: 2em;
}

#resultDiv {
    width: 6em;
    height: 6em;
    border: 2px solid whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    
}

p {
    width: 3em;
    height: 3em;
    border: 2px solid whitesmoke;
    font-size: 1.5rem;
    font-weight: 700;
    justify-content: center;
    margin: 0 auto;
}