:root {
    --ff-main: 'Rajdhani', sans-serif;
    --ff-accent: 'Cutive Mono', monospace;
}

/** {
    box-sizing: border-box;
}*/

html {
    height: 100%;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: var(--ff-accent);
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

h1 {
    font-size: 2rem;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

input {
    border-radius: 7px;
    border: 2px solid aqua;
    background-color: black;
    color: whitesmoke;
    font-family: inherit;
    font-size: 1.2rem;
    text-align: center;
    margin: 1em 1em 1em 1em;
}

#buttonContainer {
    
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#go-btn {
    background-color: rgb(136, 136, 247);
    font-family: var(--ff-main);
    color: black;
    font-size: 1.25rem;
    width: 100%;
    justify-content: center;
    font-weight: 700;
}

#clear-btn {
    background-color: rgb(248, 45, 31);
    font-family: var(--ff-main);
    color: black;
    font-size: 1.25rem;
    /*width: 4em;
    height: 2em;*/
    justify-content: center; 
    font-weight: 700;
}

#resultDiv {
    
    border: 2px solid whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 1.5em 1.5em 1.5em 1.5em;
    
}

p {
    border: 2px solid whitesmoke;
    font-size: 1.5rem;
    font-weight: 700;
    justify-content: center;
    margin: .5em;
    align-content: center;
    text-align: center;
}

.hidden {
    display: none;
}