:root {
    --ff-main: 'Rajdhani', sans-serif;
    --ff-accent: 'Cutive Mono', monospace;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: var(--ff-accent);
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2em;

}

#buttonContainer {
    border: 2px solid whitesmoke;
    width: 2.5em;
    height: 2.5em;
    margin-bottom: 2em;
    justify-content: center;
}

#go-btn {
    color: rgb(136, 136, 247);
    font-family: var(--ff-main);
}

form {
    margin-bottom: 2em;
}

#resultDiv {
    width: 6em;
    height: 6em;
    border: 2px solid whitesmoke;
    margin-bottom: 2em;
    justify-content: center;
}

p {
    width: 3em;
    height: 3em;
    border: 2px solid whitesmoke;
    font-size: 1.5rem;
}